<h1 mat-dialog-title>{{ data.item.title[translate.currentLang] }}</h1>
<div mat-dialog-content>
	<mat-tab-group>
		<mat-tab>
			<ng-template mat-tab-label><mat-icon class="mr-2">{{ getIcon(data.item.type) }}</mat-icon>{{ 'ITEM.D.ITEM_DETAILS' | translate }}</ng-template>
			<div class="d-flex">
				<div class="w-50 p-3 flex-grow-1">
					<div class="d-flex flex-column">
						<ng-container *ngFor="let t of data.item.title | keyvalue">
							<mat-form-field class="w-100">
								<mat-label>{{ isoLangs[t.key]['nativeName'] }}</mat-label>
								<input matInput	[ngModel]="t.value">
							</mat-form-field>
						 </ng-container>
						<mat-form-field class="w-100">
							<mat-label>{{ 'ITEM.FRANCHISE' | translate }}</mat-label>
							<input matInput [(ngModel)]="data.item.franchise" [matAutocomplete]="franchise">
							<mat-autocomplete #franchise="matAutocomplete">
								<mat-option *ngFor="let f of data.franchises" [value]="f">
									{{ f.title[translate.currentLang] }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>{{ 'ITEM.YEAR' | translate }}</mat-label>
							<input matInput	[ngModel]="data.item.year">
						</mat-form-field>
						<mat-form-field class="w-100">
							<mat-label>{{ 'ITEM.TYPE' | translate }}</mat-label>
							<mat-select [(ngModel)]="data.item.type">
								<mat-option *ngFor="let type of types" [value]="type">{{ 'TYPE.' + type | translate }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="w-50 p-3 text-center">
					<div class="mb-2">
						<img *ngIf="data.item.releases[imageIndex].imageLink" [src]="data.item.releases[imageIndex].imageLink" class="h-50 w-50"/>
						<button *ngIf="!data.item.releases[imageIndex].imageLink" mat-raised-button color="primary" (click)="uploadImage()" class="h-50 w-50">
							{{ 'ITEM.D.UPLOAD_IMAGE' | translate }}
						</button>
					</div>
					<div>
						<p>{{ data.item.releases[imageIndex].title[translate.currentLang] }} ({{ data.item.releases[imageIndex].year }})</p>
					</div>
					<div *ngIf="data.item.releases.length > 1">
						<button mat-icon-button (click)="previousImage()">
							<mat-icon>navigate_before</mat-icon>
						</button>
						<button mat-icon-button (click)="nextImage()">
							<mat-icon>navigate_next</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab *ngFor="let release of data.item.releases">
			<ng-template mat-tab-label>{{ release.title[translate.currentLang] }} ({{ release.year }})</ng-template>
			<div class="d-flex">
				<div class="p-3 flex-grow-1">
					<table class="table table-striped">
						<tr *ngFor="let t of release.title | keyvalue">
							<td>{{ isoLangs[t.key]['nativeName'] }}</td>
							<td>{{ t.value }}</td>
						</tr>
						<tr>
							<td>{{ 'RELEASE.YEAR' | translate }}</td>
							<td>{{ release.year }}</td>
						</tr>
						<tr>
							<td>{{ 'RELEASE.PLATFORM' | translate }}</td>
							<td>{{ 'PLATFORM.' + release.platform | translate }}</td>
						</tr>
					</table>
				</div>
			</div>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label><mat-icon class="mr-2">library_add</mat-icon></ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="true">Close</button>
</div>
