<div class="container">
	<mat-card class="mt-4">
		<mat-card-header>
			<mat-card-title>{{ 'ITEM.ITEMS' | translate }}</mat-card-title>
			<span class="flex-grow-1 flex-shrink-1"></span>
			<button mat-icon-button [matMenuTriggerFor]="filter" color="primary" [matTooltip]="'ITEM.FILTER' | translate"><mat-icon>filter_list</mat-icon></button>
			<mat-menu #filter="matMenu" xPosition="before" yPosition="above">
				<div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
					<mat-form-field class="p-3">
						<input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'ITEM.FILTER' | translate">
					</mat-form-field>
				</div>
			</mat-menu>
			<button mat-icon-button color="primary" [matTooltip]="'ITEM.ADD_ITEM' | translate"><mat-icon>add_box</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<div class="mb-4">
				<table mat-table [dataSource]="dataSource" class="w-100 table-hover" matSort matSortActive="franchise" [matSortDisableClear]="true">

					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.TITLE' | translate }}</th>
						<td mat-cell *matCellDef="let item"> {{ item.title[translate.currentLang] }}</td>
					</ng-container>
					<ng-container matColumnDef="franchise">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.FRANCHISE' | translate }}</th>
						<td mat-cell *matCellDef="let item"> {{ item.franchise.title[translate.currentLang]}}</td>
					</ng-container>
					<ng-container matColumnDef="year">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.YEAR' | translate }}</th>
						<td mat-cell *matCellDef="let item"> {{ item.year }}</td>
					</ng-container>
					<ng-container matColumnDef="type">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.TYPE' | translate }}</th>
						<td mat-cell *matCellDef="let item"><mat-icon [matTooltip]=" 'ICONS.' + item['type'] | translate">{{ getIcon(item['type']) }}</mat-icon></td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="openDetails(item)"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[25, 50, 100, 500]" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</mat-card-content>
	</mat-card>
</div>
