<mat-toolbar color="primary">
	<mat-toolbar-row class="d-flex flex-row justify-content-start">
		<button mat-icon-button [matTooltip]="'HEADER.TT.MENU' | translate" (click)="toggleSideNav()"><mat-icon>menu</mat-icon></button>
		<button mat-button class="ml-4" (click)="headerNavigate()">{{ header | translate }}</button>
		<h2 class="mx-1" *ngIf="subHeader">></h2>
		<span class="mat-button no-pointer" *ngIf="subHeader">{{ subHeader }}</span>
		<span class="flex-grow-1 flex-shrink-1"></span>
		<button mat-icon-button [matMenuTriggerFor]="langMenu" [matTooltip]="'HEADER.TT.LANG' | translate"><mat-icon>language</mat-icon></button>
		<mat-menu #langMenu="matMenu">
			<button mat-menu-item (click)="translate.use('en')">English</button>
			<button mat-menu-item (click)="translate.use('ja')">日本語</button>
		</mat-menu>
	</mat-toolbar-row>
</mat-toolbar>
