<div class="container">
	<mat-card class="mt-3 mat-elevation-z8">
		<mat-card-header class="d-flex flex-row">
			<mat-card-title>{{ 'SERIES.SERIES' | translate }}</mat-card-title>
			<span class="flex-grow-1 flex-shrink-1"></span>
			<button mat-icon-button color="primary" [matTooltip]="'SERIES.ADD_SERIES' | translate"><mat-icon>add_box</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<table mat-table [dataSource]="seriesDatasource" class="w-100 table-hover" matSort matSortActive="franchise" [matSortDisableClear]="true">

				<ng-container matColumnDef="title">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SERIES.TITLE' | translate }}</th>
					<td mat-cell *matCellDef="let series"> {{ series.title[translate.currentLang] }}</td>
				</ng-container>
				<ng-container matColumnDef="numItems">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SERIES.NUM_ENTRIES' | translate }}</th>
					<td mat-cell *matCellDef="let series"> {{ series.entries.length }}</td>
				</ng-container>
				<ng-container matColumnDef="progress">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SERIES.PROGRESS' | translate }}</th>
					<td mat-cell *matCellDef="let series">adfadf</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="seriesColumns"></tr>
				<tr mat-row *matRowDef="let series; columns: seriesColumns;" (click)="goToSeries(series)"></tr>
			</table>
		</mat-card-content>
	</mat-card>
	<mat-card class="my-3 mat-elevation-z8">
		<mat-card-header class="d-flex flex-row">
			<mat-card-title>{{ 'ITEM.ITEMS' | translate }}</mat-card-title>
			<span class="flex-grow-1 flex-shrink-1"></span>
			<button mat-icon-button color="primary" [matTooltip]="'ITEM.ADD_ITEM' | translate"><mat-icon>add_box</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<table mat-table [dataSource]="itemDatasource" class="w-100 table-hover" matSort matSortActive="year" [matSortDisableClear]="true">

				<ng-container matColumnDef="title">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.TITLE' | translate }}</th>
					<td mat-cell *matCellDef="let item"> {{ item.title[translate.currentLang] }}</td>
				</ng-container>
				<ng-container matColumnDef="year">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.YEAR' | translate }}</th>
					<td mat-cell *matCellDef="let item"> {{ item.year }}</td>
				</ng-container>
				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.TYPE' | translate }}</th>
					<td mat-cell *matCellDef="let item"><mat-icon [matTooltip]=" 'ICONS.' + item['type'] | translate">{{ getIcon(item['type']) }}</mat-icon></td>
				</ng-container>
				<ng-container matColumnDef="numReleases">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM.NUM_RELEASES' | translate }}</th>
					<td mat-cell *matCellDef="let item"> {{ item.releases.length }}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="itemColumns"></tr>
				<tr mat-row *matRowDef="let item; columns: itemColumns;" (click)="goToItem(item)"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
		</mat-card-content>
	</mat-card>
</div>
