<div class="container">
	<mat-card class="mt-4">
		<mat-card-header>
			<mat-card-title>{{ 'FRANCHISE.FRANCHISE' | translate }}</mat-card-title>
			<span class="flex-grow-1 flex-shrink-1"></span>
			<button mat-icon-button [matMenuTriggerFor]="filter" color="primary" [matTooltip]="'FRANCHISE.FILTER' | translate"><mat-icon>filter_list</mat-icon></button>
			<mat-menu #filter="matMenu" xPosition="before" yPosition="above">
				<div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
					<mat-form-field class="p-3">
						<input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'FRANCHISE.FILTER' | translate">
					</mat-form-field>
				</div>
			</mat-menu>
			<button mat-icon-button color="primary" [matTooltip]="'FRANCHISE.ADD_FRANCHISE' | translate"><mat-icon>add_box</mat-icon></button>
		</mat-card-header>
		<mat-card-content>
			<div class="mb-4">
				<table mat-table [dataSource]="dataSource" class="w-100 table-hover" matSort matSortActive="lastProgressDate" [matSortDisableClear]="true">

					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FRANCHISE.TITLE' | translate }}</th>
						<td mat-cell *matCellDef="let franchise"> {{ franchise.title[translate.currentLang] }}</td>
					</ng-container>
					<ng-container matColumnDef="numItems">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FRANCHISE.NUM_ITEMS' | translate }}</th>
						<td mat-cell *matCellDef="let franchise"> {{ franchise.items.length }}</td>
					</ng-container>
					<ng-container matColumnDef="lastRelease">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FRANCHISE.LAST_RELEASE' | translate }}</th>
						<td mat-cell *matCellDef="let franchise"> {{ franchise.lastRelease.title[translate.currentLang] }}</td>
					</ng-container>
					<ng-container matColumnDef="lastProgress">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FRANCHISE.LAST_PROGRESS' | translate }}</th>
						<td mat-cell *matCellDef="let franchise"> {{ franchise.lastRelease.dateUpdated | date }}</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let franchise; columns: displayedColumns;" (click)="goToFranchise(franchise.id)"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[10, 25, 50]" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</mat-card-content>
	</mat-card>
</div>
