tr.detail-row {
	height: 0;
	background-color: #fcfcfc;
}

tr.item-row:not(.expanded-row):hover {
	background: #bababa;
}

tr.item-row:not(.expanded-row):active {
	background: #efefef;
}

.item-row td {
	border-bottom-width: 0;
}
