<div class="container">
	<mat-card class="mt-5 mb-3 mat-elevation-z8">
		<mat-card-title>Import</mat-card-title>
		<mat-card-content>
			<div class="row mb-4">
				<div class="col">
					<ngx-file-drop dropZoneLabel="Drop CSV Import File Here" (onFileDrop)="fileDrop($event)" class="w-100"></ngx-file-drop>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="mt-5 mb-3 mat-elevation-z8">
		<mat-card-title>Release Import</mat-card-title>
		<mat-card-content>
			<table class="w-100" mat-table [dataSource]="importRowDataSource" multiTemplateDataRows>
				<ng-container matColumnDef="position">
					<th mat-header-cell *matHeaderCellDef>No.</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.position + 1 }}</td>
				</ng-container>
				<ng-container matColumnDef="iTitle">
					<th mat-header-cell *matHeaderCellDef>Item Title</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.item.title[translate.currentLang] }}</td>
				</ng-container>
				<ng-container matColumnDef="iYear">
					<th mat-header-cell *matHeaderCellDef>Item Year</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.item.year }}</td>
				</ng-container>
				<ng-container matColumnDef="fTitle">
					<th mat-header-cell *matHeaderCellDef>Franchise Title</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.franchise.title[translate.currentLang] }}</td>
				</ng-container>
				<ng-container matColumnDef="rTitle">
					<th mat-header-cell *matHeaderCellDef>Release Title</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.release.title[translate.currentLang] }}</td>
				</ng-container>
				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>Status</th>
					<td mat-cell *matCellDef="let importRow"> {{ importRow.status }}</td>
				</ng-container>

				<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let importRow" [attr.colspan]="displayColumns.length">
						<div class="overflow-hidden" [@detailExpand]="importRow == expandedImportRow ? 'expanded' : 'collapsed'">
							<div class="w-100 p-3 d-flex flex-row justify-content-start">
								<div class="mr-2">
									<div>Item Title</div>
									<div>Item Year</div>
									<div>Franchise Title</div>
									<div>Release Title</div>
									<div>Release Year</div>
									<div>Platform</div>
									<div>Physical</div>
									<div>Image</div>
									<div>Link</div>
									<div>Source</div>
									<div>Type</div>
									<div>Stock</div>
									<div>Players</div>
									<div>Progress</div>
									<div>Done</div>
									<div>Done Date</div>
									<div>Last Updated Date</div>
								</div>
								<div>
									<div>{{ importRow.item.title[translate.currentLang] }}</div>
									<div>{{ importRow.item.year }}</div>
									<div>{{ importRow.franchise.title[translate.currentLang] }}</div>
									<div>{{ importRow.release.title[translate.currentLang] }}</div>
									<div>{{ importRow.release.year }}</div>
									<div>{{ importRow.release.platform }}</div>
									<div>{{ importRow.release.physical }}</div>
									<div>{{ importRow.release.imageLink }}</div>
									<div>{{ importRow.release.link.link }}</div>
									<div>{{ importRow.release.link.source }}</div>
									<div>{{ importRow.item.type }}</div>
									<div>{{ importRow.release.stock }}</div>
									<div>{{ importRow.release.players }}</div>
									<div>{{ importRow.release.progress }}</div>
									<div>{{ importRow.release.completed }}</div>
									<div>{{ importRow.release.dateCompleted | date }}</div>
									<div>{{ importRow.release.dateUpdated | date }}</div>
								</div>
							</div>
						</div>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
				<tr mat-row *matRowDef="let importRow; columns: displayColumns;"
					class="item-row"
					[class.detail-row]="expandedImportRow === importRow"
					(click)="expandedImportRow = expandedImportRow === importRow ? null : importRow">
				</tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
			</table>
			<mat-paginator #fPaginator [pageSizeOptions]="[25, 100, 250]" showFirstLastButtons></mat-paginator>
		</mat-card-content>
		<mat-card-actions align="end" class="m-0">
			<button mat-raised-button [matTooltip]="'Submit'" color="primary" (click)="runImport()">Submit Import</button>
		</mat-card-actions>
	</mat-card>
</div>
