<mat-sidenav-container class="position-absolute" [hasBackdrop]="true">
	<mat-sidenav #sidenav mode="side">
		<mat-action-list>
			<h3 mat-subheader>{{ 'SIDE.LIBRARY' | translate }}</h3>
			<button mat-list-item (click)="universes()" [matTooltip]="'SIDE.TT.UNIVERSES' | translate">{{ 'SIDE.UNIVERSES' | translate }}</button>
			<button mat-list-item (click)="franchises()" [matTooltip]="'SIDE.TT.FRANCHISES' | translate">{{ 'SIDE.FRANCHISES' | translate }}</button>
			<button mat-list-item (click)="items()" [matTooltip]="'SIDE.TT.ITEMS' | translate">{{ 'SIDE.ITEMS' | translate }}</button>
			<button mat-list-item (click)="import()" [matTooltip]="'SIDE.TT.IMPORT' | translate">{{ 'SIDE.IMPORT' | translate }}</button>
			<mat-divider></mat-divider>
			<h3 mat-subheader>{{ 'SIDE.INFO' | translate }}</h3>
			<button mat-list-item (click)="about()" [matTooltip]="'SIDE.TT.ABOUT' | translate">{{ 'SIDE.ABOUT' | translate }}</button>
			<button mat-list-item (click)="contact()" [matTooltip]="'SIDE.TT.CONTACT' | translate">{{ 'SIDE.CONTACT' | translate }}</button>
		</mat-action-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<app-header (openSideNav)="toggleSideNav($event)"></app-header>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
